
h3 {
  text-align: left; 
  margin-bottom: 10px;
}

.grid {
  margin: 0;
  display: inline-block;
}

.grid-list {
	float: left;
}

.module {
	padding: 20px;
	text-align: center;
	border-radius: 2px;
}

.module .badge {
	max-height: 120px;
	min-width: 150px;

}


