<div *ngIf="character">
    <div>Fiche détaillée de {{character.name}}</div>
    <div>
        <a class='btn btn-default' (click)='onBack()'>
            <i class='glyphicon glyphicon-chevron-left'></i>Retour à la liste
        </a>
        <a class='btn btn-default' (click)='onEdit()'>
            <i class='glyphicon glyphicon-pencil'></i>Modifier
        </a>
    </div>
    <div>
        <img [src]='character.imageUrl'
             [width]='imageWidth'
             [height]='imageHeight'
         />
         <div>{{character.description}}</div>
    </div>
    <div>
        <a *ngIf="!isFirst" class='btn btn-default' (click)='onPreviousCharacter()'>
            <i class='glyphicon glyphicon-chevron-left'></i>Perso précédent
        </a>
        <a *ngIf="!isLast" class='btn btn-default' (click)='onNextCharacter()'>
            Perso suivant<i class='glyphicon glyphicon-chevron-right'></i>
        </a>
    </div>
</div>

