<h3>{{pageTitle}}</h3>

<div class="grid">
    <div>
        <a class='btn btn-info' (click)='onNew()'>
            <i class='glyphicon glyphicon-plus'></i> Ajouter un livre
        </a>
    </div>
    <div *ngFor="let book of books" class="grid-list">
        <div class="module">
            <a [routerLink]="book.id" routerLinkActive="true"><span class="badge"><h4>{{book.title}}</h4></span></a>
        </div>
    </div>
    <div>
        <a class='btn btn-info' (click)='onBack()'>
            <i class='glyphicon glyphicon-chevron-left'></i>Retour
        </a>
    </div>
</div>