<div class="container">
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div>
        <div>
            <a class='btn btn-default' (click)='onNew()'>
                <i class='glyphicon glyphicon-plus'></i> Ajouter un livre
            </a>
        </div>
        <ul class="books">
            <li *ngFor="let book of books">
                <a [routerLink]="book.id" routerLinkActive="true"><span class="badge">{{book.title}}</span></a>
            </li>
        </ul>
    </div>
    <div>
        <a class='btn btn-default' (click)='onBack()'>
            <i class='glyphicon glyphicon-chevron-left'></i>Retour à la liste
        </a>
    </div>
</div>
